body {
    text-align: center;
    height: 100%;
    background-color: rgb(62, 62, 62);
}

#b1 {
    margin: 50px;
    width: 25%;
    height: 200px;
    border-radius: 25%;
    font-size: larger;
    background-image: linear-gradient(to right, gray, white, gray, white, gray, white)
}

#b2 {
    margin: 50px;
    width: 20%;
    height: 200px;
    background-image: linear-gradient(blue, white,white, blue);
    font-size: larger;
    border-radius: 250px;
}

#b3 {
    margin: 50px;
    margin-right: 150px;
    width: 10%;
    height: 400px;
    background-image: linear-gradient(white, white, red, white, white, white, white);
    border-radius: 25%;
    font-size: larger;
}

